<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Daniel Stephen">
      <%= assigns[:page_title] %>
    </.live_title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex flex-col w-full h-fit">
    <div class="flex flex-col w-full">
      <div
        id="nav-menu"
        class="flex p-4 font-mono text-lg justify-end top-0 md:ml-[70%] ml-[20%] mr-[5%] justify-between text-stroke text-red-500 gap-4 drop-shadow-xl"
      >
        <.link class="hover:text-red-300 hover:underline" href={~p"/"}>PORTFOLIO</.link>
        <.link class="hover:text-red-300 hover:underline" href={~p"/story"}>ABOUT</.link>
        <.link class="hover:text-red-300 hover:underline" href="/resume.pdf" target="_blank" rel="noopener noreferrer" phx-click="increment_resume_clicks">RESUME</.link>
      </div>
      <div class="flex flex-col">
        {@inner_content}
      </div>
      <div
        id="footer"      
        class="bg-[#121212] flex md:flex-row flex-col p-4 font-mono text-lg bottom-0 md:justify-between text-center text-stroke text-red-500 drop-shadow-xl md:ml-16 ml-0 md:mr-16 mr-0"
      >
        <.link class="hover:text-red-300 hover:underline" href="mailto:daniel.vergil2711@gmail.com" phx-click="increment_email_click">
          Email
        </.link>
        <.link
        class="hover:text-red-300 hover:underline"
          href="https://github.com/daniel-vergil"
          target="_blank"
          phx-click="increment_github_click"
        >
          GitHub
        </.link>
        <.link
        class="hover:text-red-300 hover:underline"
          href="https://www.linkedin.com/in/daniel-vergil-stephen/"
          target="_blank"
          phx-click="increment_linkedin_click"
        >
          LinkedIn
        </.link>
        <.link
        class="hover:text-red-300 hover:underline"
          href="https://www.instagram.com/danielvergilstephen"
          target="_blank"
          phx-click="increment_instagram_click"
        >
          Instagram
        </.link>
        <.link
        class="hover:text-red-300 hover:underline"
          href="https://www.facebook.com/daniel.vergil"
          target="_blank"
          phx-click="increment_facebook_click"
        >
          Facebook
        </.link>
        <.link
        class="hover:text-red-300 hover:underline"
          href="https://www.threads.net/@danielvergilstephen"
          target="_blank"
          phx-click="increment_threads_click"
        >
          Threads
        </.link>
        <.link 
        class="hover:text-red-300 hover:underline"
        href="https://x.com/daniel_vergil" target="_blank" phx-click="increment_x_click">
          X
        </.link>
      </div>
    </div>
  </body>
</html>
